body {
	background-color: LightSkyBlue;
}

h1 {
	color: Navy;
	margin-left: 20px;
}

p {
	color: DodgerBlue;
	margin-left: 20px;
}

a {
	color: Green;
}

li {
	color: royalblue;
	margin-left: 40px;
}

.img_container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row; 
}

.pulpito {
	margin-top: 16px;
	margin-left: 32px;
}

img {
	margin-left: 32px;
}